<li class="row form-controller boxed holiday-li">
  <span class="col-xs-3 min-padding-both">
    <%= h_f.text_field :name, { class: "form-control small"} %>
  </span>
  <span class="col-xs-1">
    <%= h_f.check_box :floating %>
  </span>
  <span class="col-xs-2 small">
    <%= h_f.object.occurence(Date.today.year) %>
  </span>
  <span class="col-xs-2">
    Month
  </span>
  <span id="holiday_float_week" class="col-xs-2 hidden">
    <i>n</i>th Week
  </span>
  <span class="col-xs-2">
    Day
  </span>
  <span class="times col-xs-1">
    <%= h_f.hidden_field :_destroy %>
    <%= link_to icon('times'), "#", { class: "remove_holiday" }  %>
  </span>
</li>