<tr>
  <td>
    <%= user.full_name %>
    <% if user.pay_type == "Salary" %>
      (s)
    <% end %>
  </td>
  <td class="small-when-small">
    <% if user.department %>
      <%= user.department.name %>
    <% end %>
  </td>
  <td class="center"><%= user.payroll_hours(@payroll_start, @payroll_end) %></td>
  <td class="hidden-xs align-right"><%= number_to_currency user.payroll_rate %></td>
  <td class="align-right">
    <%= number_to_currency user.payroll_gross(@payroll_start, @payroll_end) %>
  </td>
</tr>