<div class="row buffered-row">
  <h3 class="col-xs-10 subtle">Welcome <%= current_user.fname %></h3>
  <% if @message_board %>
    <a href="#" id="msg-board-hider" class="col-xs-2 unhide">
      <span class="fa-stack fa-2x">
        <i class="fa fa-comment-o fa-stack-2x"></i>
        <i class="fa fa-exclamation fa-stack-1x fa-hideable"></i>
        <i class='fa fa-minus fa-stack-1x fa-hideable' style="display : none"></i>
      </span>
        
    </a>
  <% end %>
</div>

<% if @message_board %>
  <div class="row message-board well well-striped app-style" id="message-board" style="display : none">
    <legend class="msg-legend">Messages for you:</legend>

    <% if @denied_timeoffs.any? %>
      <span class="<%= @msg_col_width %> center">
        <p class="msg-text">
          <%= 'You have ' + @denied_timeoffs.count.to_s + ' denied timeoff ' + 'request'.pluralize(@denied_timeoffs.count) + '.' %>
        </p>
        <a href='<%= user_timeoff_path(current_user) %>' >
          <div class="box-btn readonly-disguiser">
            <i class="fa fa-times-circle-o fa-3x"></i>
            <p>Your Timeoff</p>
          </div>
        </a>
      </span>
    <% end %>

    <% if @denied_timesheets.any? %>
      <span class="<%= @msg_col_width %> center">
        <p class="msg-text">
          <%= 'You have ' + @denied_timesheets.count.to_s + ' denied ' 'timesheet'.pluralize(@denied_timesheets.count) + '.' %>
        </p>
        <a href='<%= user_timesheets_path(current_user) %>' >
          <div class="box-btn readonly-disguiser">
            <i class="fa fa-clock-o fa-3x"></i>
            <p>View past timesheets</p>
          </div>
        </a>
      </span>
    <% end %>

    <% if !@unapproved_timeoffs.nil? %>
      <span class="<%= @msg_col_width %> center">
        <p class="msg-text">
          <%= 'You have ' + @unapproved_timeoffs.count.to_s + ' timeoff ' + 'request'.pluralize(@unapproved_timeoffs.count) + ' to review.' %>
        </p>
        <a href='<%= user_timeoff_path(current_user, auth: 'over') %>' >
          <div class="box-btn readonly-disguiser">
            <i class="fa fa-check-square-o fa-3x"></i>
            <p>Your Staff's Timeoff</p>
          </div>
        </a>
      </span>
    <% end %>

    <% if !@unapproved_timesheets.nil? %>
      <span class="<%= @msg_col_width %> center">
        <p class="msg-text">
          <%= 'You have ' + @unapproved_timesheets.count.to_s + ' ' + 'timesheet'.pluralize(@unapproved_timesheets.count) + ' to review.' %>
        </p>
        <a href="<%= user_timesheets_path(current_user, auth: 'over') %>" >
          <div class="box-btn readonly-disguiser">
            <i class="fa fa-thumbs-o-up fa-3x"></i>
            <p>Review Timesheets</p>
          </div>
        </a>
      </span>
    <% end %>
  </div>
<% end %>

<!-- all user buttons 1 -->
<div class="row app-style">
  <a href="<%= new_user_timesheet_path(current_user) %>" class="<%= @col_width %>">
    <div class="box-btn">
      <i class="fa fa-clock-o fa-3x"></i>
      <p>Submit Timesheet</p>
    </div>
  </a>
  
  <a href='<%= user_timesheets_path(current_user) %>' class="<%= @col_width %>">
    <div class="box-btn">
      <i class="fa fa-clock-o fa-3x"></i>
      <p>View Past Timesheets</p>
    </div>
  </a>

  <a href='<%= user_timeoff_path(current_user) %>' class="<%= @col_width %>">
    <div class="box-btn readonly-disguiser">
      <i class="fa fa-times-circle-o fa-3x"></i>
      <p>Your Timeoff</p>
    </div>
  </a>


<!-- Supervisor buttons -->
  <% if current_user.has_authority_over.any? %>
    <a href="<%= user_timesheets_path(current_user, auth: 'over') %>" class="<%= @col_width %>">
      <div class="box-btn">
        <i class="fa fa-thumbs-o-up fa-3x"></i>
        <p>Review Timesheets</p>
      </div>
    </a>

    <a href='<%= user_timeoff_path(current_user, auth: 'over') %>' class="<%= @col_width %>">
      <div class="box-btn">
        <i class="fa fa-check-square-o fa-3x"></i>
        <p>Your Staff's Timeoff</p>
      </div>
    </a>

    <a href="#" class="<%= @col_width %>">
      <div class="box-btn">
        <i class="fa fa-table fa-3x"></i>
        <p>Run Reports</p>
      </div>
    </a>

    <a href="<%= user_path(current_user) %>" class="<%= @col_width %>">
      <div class="box-btn">
        <i class="fa fa-users fa-3x"></i>
        <p>Manage your staff</p>
      </div>
    </a>
  <% end %> 

<!-- Admin buttons -->
  <% if current_user.admin %> 
    <a href="<%= users_path %>" class="<%= @col_width %>">
      <div class="box-btn">
        <i class="fa fa-users fa-3x"></i>
        <p>Manage all users</p>
      </div>
    </a>

    <a href="<%= departments_path %>" class="<%= @col_width %>">
      <div class="box-btn">
        <i class="fa fa-sitemap fa-3x"></i>
        <p class="small">Manage Departments</p>
      </div>
    </a>

    <a href="<%= categories_path %>" class="<%= @col_width %>">
      <div class="box-btn">
        <i class="fa fa-list fa-3x"></i>
        <p class="small">Manage Categories</p>
      </div>
    </a>
  <% end %>

<!-- all user buttons 2 -->
  <a href="<%= edit_user_path(current_user) %>" class="<%= @col_width %>">
    <div class="box-btn">
      <i class="fa fa-sliders fa-3x"></i>
      <p>Edit your profile</p>
    </div>
  </a>

  <a href="<%= help_path %>" class="<%= @col_width %>">
    <div class="box-btn">
      <i class="fa fa-question fa-3x"></i>
      <p>Get help</p>
    </div>
  </a>

  <a href="<%= signout_path %>" data-method="delete" rel="nofollow" class="<%= @col_width %>">
    <div class="box-btn">
      <i class="fa fa-sign-out fa-3x"></i>
      <p>Sign out</p>
    </div>
  </a>

</div>
