<h4>Welcome <%= current_user.fname %></h4>

<!-- need to add unreviewed timeoff notices using has_authority_over -->

<!-- all user buttons -->
<div class="row app-style">
  <a href="<%= "/users/#{current_user.id}/timesheets/new" %>" class="<%= @col_width %>">
    <div class="box-btn">
      <i class="fa fa-clock-o fa-3x"></i>
      <p>Submit timesheet</p>
    </div>
  </a>
  
  <a href='<%= "/users/#{current_user.id}/timesheets" %>' class="<%= @col_width %>">
    <div class="box-btn">
      <i class="fa fa-clock-o fa-3x"></i>
      <p>View past timesheets</p>
    </div>
  </a>

  <% if @denied_timesheet_hours.any? %>
    <a href='<%= user_timeoff_path(current_user) %>' class="<%= @col_width %>">
      <div class="box-btn noticeable-red">
        <i class="fa fa-minus-square-o fa-3x"></i>
        <p>Check Timeoff</p>
      </div>
    </a>    
  <% end %>


<!-- Supervisor buttons -->
  <% if @supervisor %>
    <% if @unapproved_timesheet_hours.any? %>
      <a href='<%= user_timeoff_path(current_user, auth: 'over') %>' class="<%= @col_width %>">
        <div class="box-btn noticeable-green">
          <i class="fa fa-check-square-o fa-2x"></i>
          <p>Review Timeoff Requests</p>
        </div>
      </a>      
    <% end %>

    <a href="<%= user_timesheets_path(current_user, auth: 'over') %>" class="<%= @col_width %>">
      <div class="box-btn">
        <i class="fa fa-thumbs-o-up fa-3x"></i>
        <p>Approve timesheets</p>
      </div>
    </a>

    <a href="#" class="<%= @col_width %>">
      <div class="box-btn">
        <i class="fa fa-table fa-3x"></i>
        <p>Run reports</p>
      </div>
    </a>

    <a href="<%= user_path(current_user) %>" class="<%= @col_width %>">
      <div class="box-btn">
        <i class="fa fa-users fa-3x"></i>
        <p>Manage your staff</p>
      </div>
    </a>
  <% end %> 

<!-- Admin buttons -->
  <% if current_user.admin %> 
    <a href="<%= users_path %>" class="<%= @col_width %>">
      <div class="box-btn">
        <i class="fa fa-users fa-3x"></i>
        <p>Manage all users</p>
      </div>
    </a>

    <a href="<%= departments_path %>" class="<%= @col_width %>">
      <div class="box-btn">
        <i class="fa fa-sitemap fa-3x"></i>
        <p class="small">Manage Departments</p>
      </div>
    </a>

    <a href="<%= categories_path %>" class="<%= @col_width %>">
      <div class="box-btn">
        <i class="fa fa-list fa-3x"></i>
        <p class="small">Manage Categories</p>
      </div>
    </a>
  <% end %>

<!-- all user buttons -->
  <a href="<%= edit_user_path(current_user) %>" class="<%= @col_width %>">
    <div class="box-btn">
      <i class="fa fa-user fa-3x"></i>
      <p>Edit your profile</p>
    </div>
  </a>

  <a href="<%= help_path %>" class="<%= @col_width %>">
    <div class="box-btn">
      <i class="fa fa-question fa-3x"></i>
      <p>Get help</p>
    </div>
  </a>

  <a href="<%= signout_path %>" data-method="delete" rel="nofollow" class="<%= @col_width %>">
    <div class="box-btn">
      <i class="fa fa-sign-out fa-3x"></i>
      <p>Sign out</p>
    </div>
  </a>

</div>
