<h4>Welcome <%= current_user.fname %></h4>

<% if @tors_need_approval > 0 %>
  <div class="row center bg-success text-success" id="time_off_msg_box">
    <h5>
      <%= link_to "You have Time Off Requests that need your approval", "/users/#{current_user.id}/requests?cur_usr=false&review=false"  %>
    </h5>
  </div>
<% end %>

<% if @tors_denied.any? %>
  <div class="row center bg-danger text-danger" id="time_off_msg_box">
    <h5>
      <%= link_to "You have Time Off Requests that were denied", "/users/#{current_user.id}/requests?cur_usr=true"  %>
    </h5>
  </div>
<% end %>

<div class="row app-style">
  <a href="#" class="<%= @col_width %>">
    <div class="box-btn">
      <i class="fa fa-clock-o fa-3x"></i>
      <p>Submit timecard</p>
    </div>
  </a>
  
  <a href="#" class="<%= @col_width %>">
    <div class="box-btn">
      <i class="fa fa-clock-o fa-3x"></i>
      <p>View past timecards</p>
    </div>
  </a>

  <a href='<%= "/users/#{current_user.id}/requests?cur_usr=true" %>' class="<%= @col_width %>">
    <div class="box-btn">
      <i class="fa fa-check-square-o fa-3x"></i>
      <p>Manage time off</p>
    </div>
  </a>

  <a href="<%= edit_user_path(current_user) %>" class="<%= @col_width %>">
    <div class="box-btn">
      <i class="fa fa-user fa-3x"></i>
      <p>Edit your profile</p>
    </div>
  </a>

  <% if @supervisor %>
    <a href="#" class="<%= @col_width %>">
      <div class="box-btn">
        <i class="fa fa-thumbs-o-up fa-3x"></i>
        <p>Approve timecards</p>
      </div>
    </a>

    <a href="#" class="<%= @col_width %>">
      <div class="box-btn">
        <i class="fa fa-table fa-3x"></i>
        <p>Run reports</p>
      </div>
    </a>

    <a href="<%= user_path(current_user) %>" class="<%= @col_width %>">
      <div class="box-btn">
        <i class="fa fa-users fa-3x"></i>
        <p>Manage your staff</p>
      </div>
    </a>
  <% end %> 

  <% if current_user.admin %> 
    <a href="<%= users_path %>" class="<%= @col_width %>">
      <div class="box-btn">
        <i class="fa fa-users fa-3x"></i>
        <p>Manage all users</p>
      </div>
    </a>

    <a href="<%= departments_path %>" class="<%= @col_width %>">
      <div class="box-btn">
        <i class="fa fa-sitemap fa-3x"></i>
        <p class="small">Manage Departments</p>
      </div>
    </a>

    <a href="<%= categories_path %>" class="<%= @col_width %>">
      <div class="box-btn">
        <i class="fa fa-list fa-3x"></i>
        <p class="small">Manage Categories</p>
      </div>
    </a>
  <% end %>

  <a href="<%= help_path %>" class="<%= @col_width %>">
    <div class="box-btn">
      <i class="fa fa-question fa-3x"></i>
      <p>Get help</p>
    </div>
  </a>

  <a href="<%= signout_path %>" data-method="delete" rel="nofollow" class="<%= @col_width %>">
    <div class="box-btn">
      <i class="fa fa-sign-out fa-3x"></i>
      <p>Sign out</p>
    </div>
  </a>

</div>
