<h4>Welcome <%= current_user.fname %><small>&nbspWhat would you like to do today?</small></h4>
<div class="row">
  <% if @supervisor == true %>
    <div class="<%= @col_class %>">
      <ul>Supervisor menu:
        <li>Approve timecards</li>
        <li>Run reports</li>
      </ul>
    </div>
  <% end %>

  <div class="<%= @col_class %>">
    <ul>User menu:
      <li>Submit a timecard</li>
      <li>View past timecards</li>
      <li>Request time off</li>
      <li><%= link_to "Edit my profile", edit_user_path(current_user) %></li>
    </ul>
  </div>

  <% if current_user.admin? %>
    <div class="<%= @col_class %>">
      <ul>Admin menu:
        <li><%= link_to "Manage Users", users_path %></li>
        <li><%= link_to "Manage Departments", departments_path %></li>
        <li><%= link_to "Manage Categories", categories_path %></li>
      </ul>
    </div>
  <% end %>
</div>