<div class="row buffered-row">
  <h3 class="col-xs-10 subtle">Welcome <%= current_user.fname %></h3>

  <% if @message_board %>
    <a href="#" id="msg-board-hider" class="col-xs-2 unhide">
      <span class="fa-stack fa-2x">
        <i class="fa fa-comment-o fa-stack-2x"></i>
        <i class="fa fa-exclamation fa-stack-1x fa-hideable"></i>
        <i class='fa fa-minus fa-stack-1x fa-hideable' style="display : none"></i>
      </span>
    </a>
  <% end %>

</div>

<% if @message_board %>
  <div class="row message-board well well-striped app-style" id="message-board" style="display : none">
    <legend class="msg-legend">Messages for you:</legend>

    <% if @denied_timeoffs.present? %>
      <span class="<%= @msg_col_width %> center">
        <p class="msg-text">
          <%= 'You have ' + @denied_timeoffs.count.to_s + ' denied timeoff ' + 'request'.pluralize(@denied_timeoffs.count) + '.' %>
        </p>
        <a href='<%= user_timeoff_single_path(current_user) %>' >
          <div class="box-btn">
            <%= icon('minus-square-o fa-3x') %>
            <p>Your timeoff</p>
          </div>
        </a>
      </span>
    <% end %>

    <% if @denied_timesheets.present? %>
      <span class="<%= @msg_col_width %> center">
        <p class="msg-text">
          <%= 'You have ' + @denied_timesheets.count.to_s + ' denied ' 'timesheet'.pluralize(@denied_timesheets.count) + '.' %>
        </p>
        <a href='<%= user_timesheets_single_path(current_user) %>' >
          <div class="box-btn">
            <%= icon('clock-o fa-3x') %>
            <p>Your timesheets</p>
          </div>
        </a>
      </span>
    <% end %>

    <% if @unapproved_timeoffs.present? %>
      <span class="<%= @msg_col_width %> center">
        <p class="msg-text">
          <%= 'You have ' + @unapproved_timeoffs.count.to_s + ' timeoff ' + 'request'.pluralize(@unapproved_timeoffs.count) + ' to review.' %>
        </p>
        <a href='<%= user_timeoff_supervisor_path(current_user) %>' >
          <div class="box-btn">
            <%= icon('check-square-o fa-3x') %>
            <p>Your staff's timeoff</p>
          </div>
        </a>
      </span>
    <% end %>

    <% if @unapproved_timesheets.present? %>
      <span class="<%= @msg_col_width %> center">
        <p class="msg-text">
          <%= 'You have ' + @unapproved_timesheets.count.to_s + ' ' + 'timesheet'.pluralize(@unapproved_timesheets.count) + ' to review.' %>
        </p>
        <a href="<%= user_timesheets_supervisor_path(current_user) %>" >
          <div class="box-btn">
            <%= icon('thumbs-o-up fa-3x') %>
            <p>Your staff's timesheets</p>
          </div>
        </a>
      </span>
    <% end %>
  </div>
<% end %>

<!-- all user buttons 1 -->
<div class="row app-style" id="app-div">
  <a href="<%= new_user_timesheet_path(current_user) %>" class="<%= @col_width %>">
    <div class="box-btn">
      <%= icon('clock-o fa-3x') %>
      <p>Submit timesheet</p>
    </div>
  </a>
  
  <a href='<%= user_timesheets_single_path(current_user) %>' class="<%= @col_width %>">
    <div class="box-btn">
      <%= icon('clock-o fa-3x') %>
      <p>Your timesheets</p>
    </div>
  </a>

  <a href='<%= user_timeoff_single_path(current_user) %>' class="<%= @col_width %>">
    <div class="box-btn">
      <%= icon('minus-square-o fa-3x') %>
      <p>Your timeoff</p>
    </div>
  </a>
  <br />

<!-- Supervisor buttons -->
  <% if current_user.has_authority_over.any? %>
    <a href="<%= user_timesheets_supervisor_path(current_user) %>" class="<%= @col_width %>">
      <div class="box-btn">
        <%= icon('thumbs-o-up fa-3x') %>
        <p>Your staff's timesheets</p>
      </div>
    </a>

    <a href='<%= user_timeoff_supervisor_path(current_user) %>' class="<%= @col_width %>">
      <div class="box-btn">
        <%= icon('check-square-o fa-3x') %>
        <p>Your staff's timeoff</p>
      </div>
    </a>

    <a href="<%= user_path(current_user) %>" class="<%= @col_width %>">
      <div class="box-btn">
        <%= icon('users fa-3x') %>
        <p>Manage your staff</p>
      </div>
    </a>
    <br />
  <% end %> 

<!-- Admin buttons -->
    <a href="<%= user_timesheets_admin_path(current_user) %>" class="<%= @col_width %>">
      <div class="box-btn">
        <%= icon('thumbs-o-up fa-3x') %>
        <p>Manage all timesheets</p>
      </div>
    </a>

    <a href='<%= user_timeoff_admin_path(current_user) %>' class="<%= @col_width %>">
      <div class="box-btn">
        <%= icon('check-square-o fa-3x') %>
        <p>Manage all timeoff</p>
      </div>
    </a>

    <% if current_user.admin %> 
    <a href="<%= users_path %>" class="<%= @col_width %>">
      <div class="box-btn">
        <%= icon('users fa-3x') %>
        <p>Manage all users</p>
      </div>
    </a>
    <br />

    <a href="<%= departments_path %>" class="<%= @col_width %>">
      <div class="box-btn">
        <%= icon('sitemap fa-3x') %>
        <p class="small">Manage departments</p>
      </div>
    </a>

    <a href="<%= categories_path %>" class="<%= @col_width %>">
      <div class="box-btn">
        <%= icon('list fa-3x') %>
        <p class="">Manage categories</p>
      </div>
    </a>

    <a href="<%= configure_path %>" class="<%= @col_width %>">
      <div class="box-btn">
        <%= icon('cog fa-3x') %>
        <p class="small">Manage configuration</p>
      </div>
    </a>
    <br />
  <% end %>

<!-- all user buttons 2 -->
  <a href="<%= edit_user_path(current_user) %>" class="<%= @col_width %>" data-method="get">
    <div class="box-btn">
      <%= icon('sliders fa-3x') %>
      <p>Edit your profile</p>
    </div>
  </a>

  <a href="<%= help_path %>" class="<%= @col_width %>">
    <div class="box-btn">
      <%= icon('question fa-3x') %>
      <p>Get help</p>
    </div>
  </a>

  <a href="<%= signout_path %>" data-method="delete" rel="nofollow" class="<%= @col_width %>">
    <div class="box-btn">
      <%= icon('sign-out fa-3x') %>
      <p>Sign out</p>
    </div>
  </a>
  <br />

<!-- only admins or those without a supervisor -->
  <% if current_user.admin || current_user.supervisor_id == nil %>
    <a href="<%= payroll_path %>" class="<%= @col_width %>">
      <div class="box-btn">
        <%= icon 'money fa-3x' %>
        <p>Payroll</p>
      </div>
    </a>

    <a href="<%= user_timesheets_archive_path(current_user) %>" class="<%= @col_width %>">
      <div class="box-btn">
        <%= icon 'archive fa-3x' %>
        <p>Timesheet Archive</p>
      </div>
    </a>
  <% end %>
   
</div>
