<h3 class="subtle">System Configuration</h3>

<div class="row">
  <div class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" id="close-button">&times;</button>
    <strong>Warning!</strong>
    <br>Changing items on this page has
    <br><strong>permanent consequences</strong>. 
    <br>Removing items will delete data. 
    <br>Most items are for initial setup.
  </div>
</div>

<%= form_for @app_default, url: configure_update_path do |f| %>
  <div class="row form-group">
    <div class="col-xs-12 col-sm-6">
      <h3 class="subtle">Weekdays 
        <small>
          ( <%= icon('bars') %> to reorder, <%= icon('times') %> to delete)
        </small>
      </h3>

      <div class="form-group">
        <ul id="weekday_list_head">
          <li class="row">
            <span class="col-xs-1"></span>
            <span class="col-xs-2">Order</span>
            <span class="col-xs-5">Day name</span>
            <span class="col-xs-3">Abbr.</span>
          </li>
        </ul>
        <ul id="weekday_list">
          <%= f.fields_for :weekdays, @weekdays do |w_f| %>
            <%= render 'shared/error_messages', object: w_f.object %>
            <%= render "weekdays_form", w_f: w_f %>
          <% end %>
        </ul>
      </div>

      <div class="row center" id="add_weekday_div" >
        <%= link_to_add_weekday(f) %>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6">
      <h3 class="subtle">Start of year <small>(ex. fiscal year or calendar year)</small></h3>
      <%= f.fields_for :start_months do |s_f| %>
        <%= render 'shared/error_messages', object: s_f.object %>
        <span class="form-controller">
          <div class="input-group" title="Start Year">
            <span class="input-group-addon"><%= icon('calendar') %></span>
            <%= s_f.select :month, options_for_select(@months, @start_month.month), {}, { class: "form-control" } %>
          </div>
        </span>
      <% end %>
    </div>

    <div class="col-xs-12 col-sm-6">
      <h3 class="subtle">Timeoff accrual</h3>
      <%= f.fields_for :timeoff_accruals do |t_f| %>
       <%= render 'shared/error_messages', object: t_f.object %>
        <span class="form-controller">
          <div class="input-group" title="Start Year">
            <span class="input-group-addon"><%= icon('minus-square-o') %></span>
            <%= t_f.select :accrual_type, options_for_select(@accruals, @timeoff_accrual.accrual_type), {}, { class: "form-control" } %>
          </div>
        </span>
      <% end %>
    </div>

    <div class="col-xs-12 col-sm-6">
      <h3 class="subtle">Pay Period</h3>
      <%= f.fields_for :pay_periods do |p_f| %>
       <%= render 'shared/error_messages', object: p_f.object %>
        <span class="form-controller">
          <div class="input-group" title="Start Year">
            <span class="input-group-addon"><%= icon('money') %></span>
            <%= p_f.select :period_type, options_for_select(@periods, @pay_period.period_type), {}, { class: "form-control" } %>
          </div>
        </span>
      <% end %>
    </div>

    <div class="col-xs-12 col-sm-6">
      <h3 class="subtle">Contacting IT <small>(for help page)</small></h3>
      <%= f.fields_for :it_emails do |i_f| %>
        <%= render 'shared/error_messages', object: i_f.object %>
        <span class="form-controller">
          <div class="input-group" title="IT Email">
            <span class="input-group-addon">@</span>
            <%= i_f.text_field :email, { class: "form-control", placeholder: "IT Email address" } %>
          </div>
        </span>
      <% end %>
    </div>

    <div class="col-xs-12">
      <hr />
      <div class="row">
        <h3 class="col-xs-6 subtle">Holidays</h3>
        <span id="holiday_float_instructions" class="col-xs-6 subtle">(floating instructions, <%= icon('times') %> to delete)</span>
      </div>
      
      <ul id="weekday_list_head">
        <li class="row">
          <span class="col-xs-3">Name</span>
          <span class="col-xs-1 small stray-left">Float?</span>
          <span class="col-xs-2">Occurs</span>
          <span class="col-xs-2">Month</span>
          <span id="holiday_float_week" class="col-xs-2 hidden"><i>n</i>th Week</span>
          <span class="col-xs-2">Day</span>
        </li>
      </ul>
      <ul id="holiday_list">
        <%= f.fields_for :holidays, @holidays do |h_f| %>
          <%= render 'shared/error_messages', object: h_f.object %>
          <%= render 'holidays_form', h_f: h_f %>
        <% end %>

      </ul>
    </div>

  </div>

  <div class="row buffered-row">
    <%= f.submit "Update Configuration", { class: "btn btn-warning" } %>
    <%= link_to FA_CANCEL, root_path, { class: "pull-right btn btn-success" } %>
  </div>
<% end %>