<h3 class="subtle">System Configuration</h3>

<div class="row">
  <div class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" id="close-button">&times;</button>
    <strong>Warning!</strong>
    <br>Changing items on this page has
    <br><strong>permanent consequences</strong>. 
    <br>Removing items will delete data. 
    <br>Most items are for initial setup.
  </div>
</div>

<%= form_for @app_default, url: configure_update_path do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="row form-group">
    <div class="col-xs-12 col-sm-6">
      <h3 class="subtle">Weekdays <small>( <%= icon('bars') %> to reorder, <%= icon('times') %> to delete)</small></h3>

      <div class="form-group">
        <ul id="weekday_list_head">
          <li class="row">
            <span class="col-xs-1"></span>
            <span class="col-xs-2">Order</span>
            <span class="col-xs-5">Day name</span>
            <span class="col-xs-3">Abbr.</span>
            <span class="col-xs-1"></span>
          </li>
        </ul>
        <ul id="weekday_list">
          <%= f.fields_for :weekdays, @weekdays do |w_f| %>
            <%= render "weekdays_form", w_f: w_f %>
          <% end %>
        </ul>
      </div>

      <div class="row center" id="add_weekday_div" >
        <%= link_to_add_weekday(f) %>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6">
      <%= @time_zone %>
    </div>

    <div class="col-xs-12 col-sm-6">
      Other config variables:
      <ul>
        <li>Start of year (month)</li>
        <li>IT Email addr</li>
      </ul>
    </div>
  </div>
  <div class="row buffered-row">
    <%= f.submit "Update Configuration", { class: "btn btn-warning" } %>
    <%= link_to FA_CANCEL, root_path, { class: "pull-right btn btn-success" } %>
  </div>
<% end %>