<h3 class="subtle">System Configuration</h3>

<div class="row">
  <div class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" id="close-button">&times;</button>
    <strong>Warning!</strong>
    <br>Changing items on this page has
    <br><strong>permanent consequences</strong>.
    <br>Removing items will delete data.
    <br>Most items are for initial setup.
  </div>
</div>

<%= form_for( @app_default, url: configure_update_path, remote: true ) do |f| %>
  <div class="row form-group">
    <div class="col-xs-12 col-sm-6" id="weekday_block">
      <h3 class="subtle">Weekdays
        <small class="move-right">
          ( <%= icon('check-square') %> means active and visible to users)
        </small>
      </h3>

      <div class="form-group">
        <ul id="weekday_list_head">
          <li class="row">
            <span class="col-xs-2">Order</span>
            <span class="col-xs-6">Day name</span>
            <span class="col-xs-3">Abbr.</span>
          </li>
        </ul>
        <ul id="weekday_list_body">
          <%= f.fields_for :weekdays, @weekdays do |w_f| %>
            <%= render 'shared/error_messages', object: w_f.object %>
            <%= render "weekdays_form", w_f: w_f %>
          <% end %>
        </ul>
      </div>

    </div>

    <div class="col-xs-12 col-sm-6">
      <h3 class="subtle">Start of year <small class="move-right">(ex. fiscal or calendar)</small></h3>
      <%= f.fields_for :start_months do |s_f| %>
        <%= render 'shared/error_messages', object: s_f.object %>
        <span class="form-controller">
          <div class="input-group" title="Start Year">
            <span class="input-group-addon"><%= icon('calendar') %></span>
            <%= s_f.select :month, options_for_select(@months, @start_month.month), {}, { class: "form-control" } %>
          </div>
        </span>
      <% end %>
    </div>

    <div class="col-xs-12 col-sm-6">
      <h3 class="subtle">Timeoff accrual</h3>
      <%= f.fields_for :timeoff_accruals do |t_f| %>
       <%= render 'shared/error_messages', object: t_f.object %>
        <span class="form-controller">
          <div class="input-group" title="Start Year">
            <span class="input-group-addon"><%= icon('minus-square-o') %></span>
            <%= t_f.select :accrual_type, options_for_select(@accruals, @timeoff_accrual.accrual_type), {}, { class: "form-control" } %>
          </div>
        </span>
      <% end %>
    </div>

    <div class="col-xs-12 col-sm-6">
      <h3 class="subtle">Pay Period <%= link_to icon('question-circle'), "#", {id: "pay_period_q", class: "move-right"} %></h3>
      <%= f.fields_for :pay_periods do |p_f| %>
       <%= render 'shared/error_messages', object: p_f.object %>
        <span class="form-controller">
          <div class="input-group" title="Start Year">
            <span class="input-group-addon"><%= icon('money') %></span>
            <%= p_f.select :period_type, options_for_select(@periods, @pay_period.period_type), {}, { class: "form-control period_type" } %>
          </div>
        </span>
      <% end %>
    </div>
    <div id="pay_period_dialog" class="" title="Pay Period Helper">
      <% @pay_period_dialog_text.each do |k,v| %>
        <p><strong><%= k %></strong> <%= v %></p>
      <% end %>
    </div>

    <div class="col-xs-12 col-sm-6">
      <h3 class="subtle">Contacting IT <small class="move-right">(for help page)</small></h3>
      <%= f.fields_for :it_emails do |i_f| %>
        <%= render 'shared/error_messages', object: i_f.object %>
        <span class="form-controller">
          <div class="input-group" title="IT Email">
            <span class="input-group-addon">@</span>
            <%= i_f.text_field :email, { class: "form-control", placeholder: "IT Email address" } %>
          </div>
        </span>
      <% end %>
    </div>
  </div>

  <div class="row form-group">

    <div class="col-xs-12 col-sm-6" id="holiday_block">
      <h3 class="subtle">Holidays
        <small class="move-right">
          ( <%= icon('plus-square') %> for details, <%= icon('times') %> to delete)
        </small>
      </h3>
      <div class="form-group">
        <ul id="holiday_list_head">
          <li class="row">
            <span class="col-xs-1 expand_holiday_head min-padding-right"><%= icon('plus-square-o') %></span>
            <span class="col-xs-6 center">Name</span>
            <span class="col-xs-1 small shift-left min-padding-both center">Floating?</span>
            <span class="col-xs-3 center">Occurs</span>
          </li>
        </ul>
        <ul id="holiday_list_body">
          <% if @holidays.any? %>
            <%= f.fields_for :holidays, @holidays do |h_f| %>
              <%= render 'shared/error_messages', object: h_f.object %>
              <%= render 'holidays_form', h_f: h_f %>
            <% end %>
          <% else %>
            <li class="row form-controller boxed holiday-li holiday-li-empty">
              <span class="col-xs-12">No Holidays to show</span>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="row pull-right" id="add_holiday_div" >
        <%= link_to_add_holiday(f) %>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6" id="grant_block">
      <h3 class="subtle">Accounts
        <small class="move-right">
          ( <%= icon('check-square') %> means active and visible to users)
        </small>
      </h3>
      <div class="form-group">
        <ul id="grant_list_head">
          <li class="row">
            <span class="col-xs-10 center">Name</span>
            <span class="col-xs-2 small shift-left min-padding-both center">Active?</span>
          </li>
        </ul>
        <ul id="grant_list_body">
          <% if @grants.any? %>
            <%= f.fields_for :grants, @grants do |g_f| %>
              <%= render 'shared/error_messages', object: g_f.object %>
              <%= render 'grants_config_form', g_f: g_f %>
            <% end %>
          <% else %>
            <li class="row form-controller boxed grant-li grant-li-empty">
              <span class="col-xs-12">No Grants to show</span>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="row pull-right" id="add_grant_div" >
        <%= link_to_add_grant(f) %>
      </div>
    </div>

  </div>

  <div class="row buffered-row">
    <%= f.submit "Update", { class: "btn btn-warning" } %>
    <%= link_to FA_CANCEL, root_path, { class: "pull-right btn btn-success" } %>
  </div>
<% end %>
