<h3 class="subtle">System Configuration</h3>

<div class="row">
  <div class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" id="close-button">&times;</button>
    <strong>Warning!</strong>
    <br>Changing items on this page has
    <br><strong>permanent consequences</strong>. 
    <br>Removing items will delete data. 
    <br>Most items are for initial setup.
  </div>
</div>

<%= form_for @app_default, url: configure_update_path do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <%= f.hidden_field :id %>
  <div class="row form-group">
    <div class="col-xs-12 col-sm-6">
      <%= render "weekdays_form", f: f %>
    </div>
    <div class="col-xs-12 col-sm-6">
      Other config variables:
      <ul>
        <li>Start of year (month)</li>
        <li>TimeZone</li>
        <li>IT Email addr</li>
      </ul>
    </div>
  </div>
  <div class="row buffered-row">
    <%= f.submit "Update Configuration", { class: "btn btn-warning" } %>
    <%= link_to FA_CANCEL, root_path, { class: "pull-right btn btn-success" } %>
  </div>
<% end %>