<div class="buffered-row">
  <h3 class="subtle thin-top center">Payroll <span class="pull-right">(<%= @pay_period_type %>)</span></h3>

  <div class="well well-striped row">
    <div class="col-xs-12">
      <%= render 'payroll_searchbar' %>
    </div>
    <div class="col-xs-12">
      <span class="col-xs-2">From:</span>
      <span class="col-xs-4" id="start_date"><%= @date_start %></span>
      <span class="col-xs-2">To:</span>
      <span class="col-xs-4" id="end_date"><%= @date_end %></span>
    </div>
  </div>

  <div class="row datatable-div" id="payroll_users_head">
    <fieldset>
      <legend class="subtle">Staff:</legend>
      <table class="table table-thin" id="payroll-user-table">
        <thead>
          <tr>
            <th>
              Name
              <%= link_to icon('question-circle'), "#", {id: 'hours_dialog_q', class: "move-right"} %>
            </th>
            <th>Dept.</th>
            <th class="center">Hours</th>
            <th class="hidden-xs align-center">$ Rate</th>
            <th class="align-center">Gross $</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <%= render 'payroll_users', user: user %>
          <% end %>
        </tbody>
      </table>
    </fieldset>
  </div>

  <div class="row datatable-div" id="payroll_users_body">
    <fieldset>
      <legend class="subtle">Categories:</legend>
      <table class="table" id="payroll-category-table">
        <thead>
          <tr>
            <th>Dept.</th>
            <th>Category</th>
            <th class="text-center">Hours</th>
            <th class="text-center">Staff</th>
            <th class="text-center">
              $ Total
              <%= link_to icon('question-circle'), "#", {id: 'categories_dialog_q', class: "move-right"} %>
            </th>
          </tr>
        </thead>
        <tbody>
          <% @categories.each do |category| %>
            <%= render 'payroll_categories', category: category %>
          <% end %>
        </tbody>
      </table>
    </fieldset>
  </div>

  <div id="hours_dialog" title="Hours Explained">
    <p>A <b>(s)</b> in the <b>Name</b> column indicates Salaried employees.</p>
    <p>Their <b>$ Rate</b> is their salary divided by the payroll cycle (<%= @pay_period_type %>).</p>
    <p>The <b>$ Rate</b> column is not visible on small screens.</p>
  </div>
  <div id="categories_dialog" title="Categories Explained">
    <p>The <b>$ Total</b> column shows the total of applicable staff's hourly contributions towards the category.</p>
    <p>The <b>Staff</b> column shows the number of staff who contributed hours during the pay period.</p>
  </div>
  <div id="category_users_dialog" title="Staff Hours by Category">
    <table id="category_users_table" class="table">
      <thead>
        <tr>
          <th>Staff</th>
          <th>Hours</th>
          <th>Rate</th>
          <th>Sub Ttl</th>
        </tr>
      </thead>
      <tbody id="category_users_tbody">
      </tbody>
    </table>
  </div>
</div>