<h3 class="subtle thin-top center">Payroll <span class="pull-right">(<%= @pay_period_type %>)</span></h3>

<div class="well well-striped row">
  <div class="row">
    <%= render 'shared/year_payweek_searchbar' %>
  </div>
  <div class="row">
    <span class="col-xs-2">From:</span>
    <span class="col-xs-4"><%= @payroll_start.strftime("%m/%d/%Y") %></span>
    <span class="col-xs-2">To:</span>
    <span class="col-xs-4"><%= @payroll_end.strftime("%m/%d/%Y") %></span>
  </div>
</div>

<div class="row" id="payroll_users_head">
  <fieldset>
    <legend class="subtle">Staff:</legend>
    <table class="table" id="payroll-user-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Dept.</th>
          <th>Hours</th>
          <th class="hidden-xs">$ Rate</th>
          <th>Gross $</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <%= render 'payroll_users', user: user %>
        <% end %>
      </tbody>
    </table>
  </fieldset>
</div>

<div class="row" id="payroll_users_body">
  <fieldset>
    <legend class="subtle">Categories:</legend>
    <table class="table" id="payroll-category-table">
      <thead>
        <tr>
          <th>Dept.</th>
          <th>Category</th>
          <th>Hours</th>
          <th class="hidden-xs">Pay Rate</th>
          <th>$ Total</th>
        </tr>
      </thead>
      <tbody>
        <% @categories.each do |category| %>
          <%= render 'payroll_categories', category: category %>
        <% end %>
      </tbody>
    </table>
  </fieldset>
</div>