<div class="row">
  <hr class="thin hr-black">
</div>

<div class="row row-fluid min-padding-both center">
  <% if @timeoff_accrual_type == "Annual" %>
    <span class="col-xs-6 col-sm-4 col-md-3 well-adjusted well">
      <p><%= @user.timeoff_accumulated(@pay_period, @year) %> hours off per year.</p>
    </span>
    <span class="col-xs-6 col-sm-4 col-md-3 well-adjusted well">
      <p><%= @user.timeoff_approved_by_year(@year) %> approved hours.</p>
    </span>
    
    <% if @year.to_i == Time.now.in_time_zone.year %>
      <span class="col-xs-6 col-sm-4 col-md-3 well-adjusted well">
        <p><%= @user.timeoff_accumulated(@pay_period, @year) - @user.timeoff_approved_by_year(@year) %> hours remaining.</p>
      </span>
    <% end %>

  <% else %>
    <span class="col-xs-6 col-sm-4 col-md-3 well-adjusted well">
      <p><%= @user.timeoff_earned_per_period(@pay_period, @year) %> earned <%= @timeoff_accrual_type.downcase %>.</p>
    </span>

    <span class="col-xs-6 col-sm-4 col-md-3 well-adjusted well">
      <p><%= @user.timeoff_accumulated(@pay_period, @year) %> earned this year.</p>
    </span>

    <span class="col-xs-6 col-sm-4 col-md-3 well-adjusted well">
      <p><%= @user.timeoff_used_by_period(@pay_period, @year) %> used this period.</p>
    </span>

    <span class="col-xs-6 col-sm-4 col-md-3 well-adjusted well">
      <p><%= @user.timeoff_used_to_period(@pay_period, @year) %> used this year.</p>
    </span>

    <span class="col-xs-6 col-sm-4 col-md-3 well-adjusted well">
      <p><%= @user.timeoff_accumulated(@pay_period, @year) - @user.timeoff_used_to_period(@pay_period, @year) %> remaining.</p>
    </span>
    
  <% end %>

  <% if @user.timeoff_unapproved_by_year(@year) > 0  %>
    <span class="col-xs-12 min-padding-both">
      <a href="<%= user_timesheets_single_path(@user) %>"class="btn btn-warning">
        <%= pluralize(@user.timsheets_w_timeoff_unapproved_by_year(@year), 'timesheet', 'timesheets') %> (<%= @user.timeoff_unapproved_by_year(@year) %> hours off) are not reviewed.
      </a>
    </span>
  <% end %>    
</div>
