<div class="row">
  <hr class="thin hr-black">
</div>
<div class="row">
  <div class="col-xs-6 min-padding-both">
    <p><%= @user.annual_time_off %> hours off per year.</p>
    <p><%= @user.timeoff_used_by_year(@year) %> hours used.</p>
    <% if @year.to_i == Time.now.in_time_zone.year %>
      <p><%= @user.annual_time_off - @user.timeoff_used_by_year(@year) %> hours remaining.</p>
    <% end %>
  </div>

  <div class="col-xs-6 min-padding-both">
    <p><%= @timeoff_earned_per_period %> hours off earned per period.</p>
    <p><%= @user.timeoff_used_by_period(@pay_period, @year) %> hours used this period.</p>
  </div>
</div>
