<div>
  <table class="table table-striped table-center" id="timeoff-table">
    <thead class="subtle">
      <tr>
        <td>
          <%= fa_icon('user 2x') %>
          <p>User</p>
        </td>
        <td>
          <%= fa_icon('calendar 2x') %>
          <p>Date</p>
        </td>
        <td>
          <%= fa_icon('minus-square-o 2x') %>
          <p>Time off</p>
        </td>
        <td class="hidden-xs">
          <%= fa_icon('toggle-up 2x') %>
          <p>Submitted</p>
        </td>
        <td>
          <%= fa_icon('check-square-o 2x') %>
          <p>Approved</p>
        </td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      <% @timeoff_hours.each do |th| %>
        <% t = th.timesheet %>
        <tr>
          <td><%= th.user.full_name %></td>
          <td><%= t.week_num_to_date %></td>
          <td><%= t.timesheet_hours.where(user_id: th.user.id).sum(:timeoff_hours) %></td>
          <td class="hidden-xs"><%= th.created_at.strftime("%m/%d/%Y") %></td>
          <td><%= th.status %></td>
          <td><%= link_to FA_EDIT, edit_user_timesheet_path( th.user.id, t.id), class: "btn btn-primary btn-sm" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>