<h3 class="center subtle"><%= @page_title %></h3>

<% if @user.annual_time_off > 0 %>
  <div class="well well-striped row">
    <div class="row">

     <form accept-charset="UTF-8" method="get" >
        <div class="col-xs-4 min-padding-both">
          <div class="input-group" title='Year'>
            <span class="input-group-addon">
              <%= icon('calendar-o') %>
            </span>
            <input id="timeoff-calculator-year" name="year" type="integer" value="<%= @year %>" class="form-control datepicker" >
          </div>
        </div>
        <div class="col-xs-4 min-padding-both">
          <div class="input-group" title='Pay Period'>
            <span class="input-group-addon">
              $&nbsp<%= icon('calendar') %>
            </span>
            <input id="timeoff-calculator-pay-period" name="pay_period" value="<%= @pay_period %>" class="form-control datepicker" >
          </div>
        </div>
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary">
            <%= FA_SUBMIT %>
          </button>
        </div>
      </form>
       

    </div>
    <%= render 'timeoff_calculator', year: @year, pay_period: @pay_period %>
  </div>
<% end %>

<div>
  <table class="table table-striped table-center" id="timeoff-single-table">
    <thead class="subtle">
      <tr>
        <td>
          <%= icon('calendar fa-2x') %>
          <p>Date</p>
        </td>
        <td>
          <%= icon('minus-square-o fa-2x') %>
          <p>Time off</p>
        </td>
        <td class="hidden-xs">
          <%= icon('toggle-up fa-2x') %>
          <p>Submitted</p>
        </td>
        <td>
          <%= icon('check-square-o fa-2x') %>
          <p>Approved</p>
        </td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      <% @timeoff_hours.each do |th| %>
        <% t = th.timesheet %>
        <tr>
          <td><%= t.week_num_to_date %></td>
          <td><%= t.timesheet_hours.where(user_id: th.user.id).sum(:timeoff_hours) %></td>
          <td class="hidden-xs"><%= th.created_at.strftime("%m/%d/%Y") %></td>
          <td><%= th.status %></td>
          <td><%= link_to FA_EDIT, edit_user_timesheet_path( th.user.id, t.id), class: "btn btn-primary btn-sm" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="buffered-row">
    <%= link_to FA_NEW, new_user_timesheet_path(@user.id), { class: "btn btn-success"} %>
  </div>

</div>