<h3 class="center subtle"><%= @page_title %></h3>

<% if @user.annual_time_off > 0 %>
  <div class="well well-striped row">
    <div class="col-xs-12">
      <%= render 'timeoff_searchbar' %>
    </div>
    <div class="col-xs-12">
      <%= render 'timeoff_calculator' %>
    </div>
    
  </div>
<% end %>

<%= render 'timeoff_table' %>

  <div class="buffered-row">
    <%= link_to FA_NEW, new_user_timesheet_path(@user.id), { class: "btn btn-success"} %>
  </div>

</div>