<h3 class="center subtle"><%= @page_title %></h3>

<% if @user.annual_time_off > 0 %>
  <div class="well well-striped row">
    <div class="row">
      <%= render 'shared/year_payweek_searchbar' %>
    </div>
    <%= render 'timeoff_calculator', year: @year, pay_period: @pay_period %>
  </div>
<% end %>

<div>
  <table class="table table-striped table-center" id="timeoff-single-table">
    <thead class="subtle">
      <tr>
        <td>
          <%= icon('calendar fa-2x') %>
          <p>Date</p>
        </td>
        <td>
          <%= icon('minus-square-o fa-2x') %>
          <p>Time off</p>
        </td>
        <td class="hidden-xs">
          <%= icon('toggle-up fa-2x') %>
          <p>Submitted</p>
        </td>
        <td>
          <%= icon('check-square-o fa-2x') %>
          <p>Approved</p>
        </td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      <% @timeoff_hours.each do |toh| %>
        <% t = Timesheet.find(toh.timesheet_id) %>
        <% u = User.find(toh.user_id) %>
        <% th = TimesheetHour.where(timesheet_id: t.id, user_id: u.id ) %>
        <tr>
          <td><%= t.week_num_to_date %></td>
          <td><%= th.sum(:timeoff_hours) %></td>
          <td class="hidden-xs"><%= th.first.created_at.strftime("%m/%d/%Y") %></td>
          <td><%= th.first.status %></td>
          <td><%= link_to FA_EDIT, edit_user_timesheet_path( toh.user.id, t.id), class: "btn btn-primary btn-sm" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="buffered-row">
    <%= link_to FA_NEW, new_user_timesheet_path(@user.id), { class: "btn btn-success"} %>
  </div>

</div>