<%= form_for @user do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <span class="form-controller">
    <div class="row col-xs-12 col-md-6">
      <div class="input-group" title="First Name">
        <span class="input-group-addon"><%= icon('arrow-right') %></span>
        <%= f.text_field :fname, {class: "form-control", placeholder: "First Name"} %>
      </div>
    </div>
    <div class="row col-xs-12 col-md-6">
      <div class="input-group" title="Last Name">
        <span class="input-group-addon"><%= icon('arrow-right') %></span>
        <%= f.text_field :lname, {class: "form-control", placeholder: "Last Name"} %>
      </div>
    </div>
    <div class="row col-xs-12 col-sm-6 col-md-6">
      <div class="input-group" title="Email (for Username)"> <!-- id="user-email-input" -->
        <span class="input-group-addon">@</span>
        <%= f.text_field :email, {class: "form-control", placeholder: "Email"} %>
      </div>
    </div>
    
    <div class="row col-xs-12 col-sm-6 col-md-6">
      <div class="input-group">
        <div class="form-control form-matcher" title="Timestamps">
          <% if @user.new_record? %>
            <p style="color: #ababab; text-align: center">(Timestaps)</p>
          <% else %>
            <small>
              <%= @user.created_at.strftime("Added: %m/%d/%Y") %>&nbsp <%= @user.updated_at.strftime("Last updated: %m/%d/%Y") %>
            </small>
          <% end %>
        </div>
      </div>
    </div>

    <div class="row col-xs-12 col-md-6">
      <div class="input-group input-selector" title="Supervisor">
        <span class="input-group-addon addon-selector"><%= icon('level-up') %></span>
        <%= f.select  :supervisor_id, options_for_select(@super_array, @user.supervisor_id ), {}, { class: "form-control", disabled: @disabled } %>
      </div>
    </div>
    <div class="row col-xs-12 col-md-6">
      <div class="input-group input-selector" title="Department">
        <span class="input-group-addon addon-selector"><%= icon('sitemap') %></span>
        <%= f.select :department_id, options_for_select(@dept_array, @user.department_id), {}, {class: "form-control", disabled: @disabled } %>
      </div>
    </div>

    <% if current_user.can_approve_this?(@user) %>
      <div class="row col-xs-12 col-md-6">
        <hr class="hr-thin">
      </div>

      <div class="row col-xs-6 col-sm-6 col-md-3">
        <div class="input-group" title="Default hours per week">
          <span class="input-group-addon rate"><%= icon('clock-o') %>/wk</span>
          <%= f.number_field :standard_hours, {class: "form-control", placeholder: "Hrs Per Week"} %>
        </div>
      </div>
      <div class="row col-xs-6 col-sm-6 col-md-3">
        <div class="input-group" title="Time off (in hours) per year">
          <span class="input-group-addon rate"><%= icon('times-circle') %>/yr</span>
          <%= f.number_field :annual_time_off, {class: "form-control", placeholder: "Time Off"} %>
        </div>
      </div>

      <div class="row col-xs-12 col-md-6">
        <hr class="hr-thin">
      </div>

      <div class="row col-xs-12 col-sm-12 col-md-12">
        <div class="input-group" title="Pay Type">
          <span class="input-group-addon">$</span>
          <%= f.select :pay_type, options_for_select([["Salary", true], ["Hourly", false]], @active_def), {}, {class: "form-control selector"} %>
        </div>
      </div>

      <div class="row col-xs-6 col-sm-6 col-md-3">
        <div class="input-group" title="Annual Salary">
          <span class="input-group-addon rate">$/<%= icon('calendar') %></span>
          <%= f.number_field :salary_rate, {class: "form-control", placeholder: "Salary"} %>
        </div>
      </div>

      <div class="row col-xs-6 col-sm-6 col-md-3">
        <div class="input-group" title="Hourly Rate">
          <span class="input-group-addon rate">$/<%= icon('clock-o') %></span>
          <%= f.number_field :hourly_rate, {class: "form-control", placeholder: "Hourly Rate"} %>
        </div>
      </div>
    <% end %>

    <% if current_user.admin? %>
      <div class="row col-xs-12 col-md-6">
        <hr class="hr-thin">
      </div>
      <div class="row col-xs-6 col-sm-6 col-md-3">
        <div class="input-group input-selector">
          <span class="input-group-addon addon-selector"><%= icon('cogs') %></span>
          <%= f.select :active, options_for_select([["Active", true], ["Inactive", false]], @active_def), {}, {class: "form-control selector"} %>
        </div>
      </div>
      <div class="row col-xs-6 col-sm-6 col-md-3">
        <div class="input-group input-selector">
          <span class="input-group-addon addon-selector"><%= icon('bars') %></span>
          <%= f.select :admin, options_for_select([["User", false], ["Admin", true]], @user.admin? ), {}, {class: "form-control selector", disabled: if current_user == @user then true else false end } %>
        </div>
        <% if current_user == @user %>
          <i class="small pull-right" id="admin-selector-warning">(You can't disabled your own admin account.)</i>
        <% end %>
      </div>
    <% end %>

    <div class="row col-xs-12 col-md-12">
      <hr class="hr-thin">
    </div>
    <div class="row col-xs-12 col-md-6">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-key"></i></span>
        <%= f.text_field :password, {class: "form-control", placeholder: @pw_lang} %>
      </div>
    </div>
    <div class="row col-xs-12 col-md-6">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-key"></i></span>
        <%= f.text_field :password_confirmation, {class: "form-control", placeholder: "Re-Enter Password"} %>
      </div>
    </div>

    <div class="row col-xs-12 center buffered-row">
      <div class="col-xs-6">
        <button type="submit" class="btn btn-success">
          <%= FA_SUBMIT %>
        </button>
      </div>
      <div class="col-xs-6">
        <%= link_to FA_CANCEL, @path_switch, { class: "btn btn-danger" }  %>
      </div>
    </div>

  </span>
<% end %>