<%= form_for @user do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <span class="form-controller">
    <%= f.hidden_field :id %>
    <div class="row">
      <div class="col-xs-6">
        <div class="input-group" title="First Name">
          <span class="input-group-addon">F:</span>
          <%= f.text_field :fname, {class: "form-control", placeholder: "First Name"} %>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="input-group" title="Last Name">
          <span class="input-group-addon">L:</span>
          <%= f.text_field :lname, {class: "form-control", placeholder: "Last Name"} %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="input-group" title="Email (for Username)">
          <span class="input-group-addon">@</span>
          <%= f.text_field :email, {class: "form-control", placeholder: "Email"} %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="input-group">
          <div class="form-control form-matcher center" title="Timestamps">
            <% if @user.new_record? %>
              <p style="color: #ababab; text-align: center">(Timestaps)</p>
            <% else %>
              <small>
                <%= @user.created_at.strftime("Added: %m/%d/%Y") %>&nbsp&nbsp|&nbsp 
                <%= @user.updated_at.strftime("Updated: %m/%d/%Y") %>
              </small>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="input-group input-selector" title="Supervisor">
          <span class="input-group-addon addon-selector"><%= icon('level-up') %></span>
          <%= f.select  :supervisor_id, options_for_select(@super_array, @user.supervisor_id ), {}, { class: "form-control", disabled: @disabled } %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="input-group input-selector" title="Department">
          <span class="input-group-addon addon-selector"><%= icon('sitemap') %></span>
          <%= f.select :department_id, options_for_select(@dept_array, @user.department_id), {}, {class: "form-control", disabled: @disabled } %>
        </div>
      </div>
    </div>

    <div class="row">
      <hr class="hr-thin">
    </div>

    <div class="col-xs-12 col-md-6">
      <div class="input-group input-selector" title="Time Zone">
        <span class="input-group-addon addon-selector">
          <%= icon('globe') %>
        </span>
        <%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones, { default: "Eastern Time (US & Canada)" }, { class: "form-control" } %>
      </div>
    </div>

    <div class="col-xs-6 col-md-3">
      <div class="input-group" title="Default hours per week">
        <span class="input-group-addon rate"><%= icon('clock-o') %>/wk</span>
        <%= f.number_field :standard_hours, {class: "form-control", placeholder: "Hrs Per Week", step: 'any', min: 0, disabled: @disabled } %>
      </div>
    </div>

    <div class="col-xs-6 col-md-3">
      <div class="input-group" title="Time off (in hours) per year">
        <span class="input-group-addon rate"><%= icon('minus-square-o') %>/yr</span>
        <%= f.number_field :annual_time_off, {class: "form-control fix-shrink", placeholder: "Time Off", step: 'any', min: 0, disabled: @disabled } %>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-6">
        <div class="input-group" title="Pay Type">
          <span class="input-group-addon"><%= icon('money') %></span>
          <%= f.select :pay_type, options_for_select([["Salary"], ["Hourly"]], @salary_def), {}, {class: "form-control selector", step: 'any', min: 0, disabled: @disabled } %>
        </div>
      </div>

      <div id="user_salary_div" class="col-xs-6 <%= @salary_hider %>">
        <div class="input-group" title="Annual Salary">
          <span class="input-group-addon rate">$</span>
          <%= f.number_field :salary_rate, {class: "form-control fix-shrink input-number", placeholder: "Salary", step: 'any', min: 0, disabled: @disabled } %>
        </div>
      </div>

      <div id="user_hourly_div" class="col-xs-6 <%= @hourly_hider %>">
        <div class="input-group" title="Hourly Rate">
          <span class="input-group-addon rate">$</span>
          <%= f.number_field :hourly_rate, {class: "form-control fix-shrink input-number", placeholder: "Hourly Rate", step: 'any', min: 0, disabled: @disabled } %>
        </div>
      </div>
    </div>

    <div class="col-xs-6 col-md-3">
      <div class="input-group input-selector" title="Start Date">
        <span class="input-group-addon addon-selector"><%= icon('play') %>&nbsp<%= icon('calendar') %></span>
        <%= f.text_field  :start_date, { class: "form-control open_date_picker #{@readonly_shower}", readonly: true, value: @user.start_date.try(:strftime, "%m/%d/%Y"), disabled: @disabled } %>
      </div>
    </div>

    <div class="col-xs-6 col-md-3">
      <div class="input-group input-selector" title="End Date">
        <span class="input-group-addon addon-selector"><%= icon('stop') %>&nbsp<%= icon('calendar') %></span>
        <%= f.text_field  :end_date, { class: "form-control open_date_picker #{@readonly_shower} fix-shrink", readonly: true, value: @user.end_date.try(:strftime, "%m/%d/%Y"), disabled: @disabled } %>
      </div>
    </div>

    <% if true %>
      <div class="col-xs-6 col-sm-6 col-md-3">
        <div class="input-group input-selector" title="Active or Inactive">
          <span class="input-group-addon addon-selector"><%= icon('cogs') %></span>
          <%= f.select :active, options_for_select([["Active", true], ["Inactive", false]], @active_def), {}, {class: "form-control selector", disabled: if current_user == @user then true else @disabled end } %>
        </div>
      </div>


      <div class="col-xs-6 col-sm-6 col-md-3">
        <div class="input-group input-selector" title="Admin or User">
          <span class="input-group-addon addon-selector"><%= icon('bars') %></span>
          <%= f.select :admin, options_for_select([["User", false], ["Admin", true]], @user.admin? ), {}, {class: "form-control selector fix-shrink", disabled: if current_user.can_change_admin_status(@user) then false else true end } %>
        </div>
      </div>

      <div class="row col-xs-12 col-md-6 pull-right">
        <% if current_user == @user %>
          <i class="small col-xs-6" id="admin-selector-warning">(You can't deactivate your own account.)</i>
        <% end %>

        <% if current_user == @user %>
          <i class="small pull-right col-xs-6" id="admin-selector-warning">(You can't change your own admin status.)</i>
        <% end %>
      </div>
    <% end %>

    <div class="row col-xs-12">
      <hr class="hr-thin">
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="input-group" title="Password">
          <span class="input-group-addon"><%= icon('key') %></span>
          <%= f.text_field :password, {class: "form-control", placeholder: @pw_lang} %>
        </div>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="input-group" title="Password Confirmation">
          <span class="input-group-addon"><%= icon('key') %></span>
          <%= f.text_field :password_confirmation, {class: "form-control", placeholder: "Re-Enter Password"} %>
        </div>
      </div>
    </div>

    <div class="row center buffered-row">
      <div class="col-xs-6">
        <button type="submit" id="submit" id="submit" class="btn btn-success">
          <%= FA_SUBMIT %>
        </button>
      </div>
      <div class="col-xs-6">
        <%= link_to FA_CANCEL, session[:return_url], { class: "btn btn-danger" }  %>
      </div>
    </div>

  </span>
<% end %>