<table class="table" id="users-table">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th class="hidden-xs">Dept.</th>
      <th>Supervisor</th>
      <th class="hidden-xs">Role</th>
      <th class="hidden-xs">Dates</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @active_users.each do |u| %>
      <% @direct_reports = @supervised_active_users.where(supervisor_id: u.id) %>
      <% @supervisor = @active_users.find_by_id( u.supervisor_id ) %>
      <tr>
        <td class="pull-right">
          <% if @direct_reports.count > 0 %>
            <%= link_to FA_RIGHT, "#", {class: "center super-view-switch", id: "super-list-#{u.id}"} %>
          <% end %>
        </td>
        <td>
          <%= u.full_name %>
        </td>
        <td class="hidden-xs">
          <%= u.department.present? ? u.department.name : "(none)" %>
        </td>
        <td>
          <%= if @supervisor != nil then @supervisor.full_name else "(none)" end %>
        </td>
        <td class="hidden-xs">
          <%= if u.admin then "Admin" else "User" end %>
        </td>
        <td class="hidden-xs">
          <%= u.start_date.strftime('%m/%d/%Y') + " - " + u.end_date_string %>
        </td>
        <td><%= link_to FA_EDIT, edit_user_path(u.id), { method: :get, class: "btn btn-primary btn-sm"} %></td>
      </tr>
      <% @direct_reports.each do |s| %>
        <tr class=<%= "super-list-#{u.id.to_s}".to_s %> >
          <td class="hidden"></td>
          <td class="hidden">
            <%= s.full_name %>
          </td>
          <td class="hidden hidden-xs">
            <%= s.department.present? ? s.department.name : "(none)" %>
          </td>
          <td class="hidden"></td>
          <td class="hidden hidden-xs">
            <%= if s.admin then "Admin" else "User" end %>
          </td>
          <td class="hidden hidden-xs">
            <%= u.start_date.strftime('%m/%d/%Y') + " - " + u.end_date_string %>
          </td>
          <td class="hidden">
            <%= link_to FA_EDIT, edit_user_path(s.id), { method: :get, class: "btn btn-primary btn-sm"} %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<% if @inactive_users.any? %>
  <%= link_to "View inactive users", "#", {id: "user-view-switch", class: "pull-right btn btn-primary btn-xs"} %>
  <div class="hidden row buffered-row" id="inactive-users">
    <div class="row">
      <hr />
    </div> 
    <table class="table" id="inactive-users-table">
      <thead>
        <tr>
          <th>Inactive</th>
          <th>Dept.</th>
          <th>Supervisor</th>
          <th class="hidden-xs">Dates</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @inactive_users.each do |u| %>
          <% @inactive_super = @users.find_by( id: u.supervisor_id ) %>
          <tr>
            <td><%= u.full_name %></td>
            <td>
              <% if u.department.nil? %>
                (no department)
              <% else %>
                <%= u.department.name %>
              <% end %>
              
            </td>
            <td><%= @inactive_super.full_name %></td>
            <td class="hidden-xs">
              <%= u.start_date.strftime('%m/%d/%Y') + " - " + u.end_date_string %>
            </td>
            <td><%= link_to FA_EDIT, edit_user_path(u.id), { method: :get, class: "btn btn-primary btn-sm"} %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>