<h3 class="subtle">Current users</h3>
<div id="active-users">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Dept.</th>
        <th>Supervisor</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @active_users.sort_by { |u| u.fname }.sort_by { |u| u.lname}.each do |u| %>
        <% @direct_reports = @supervised_active_users.where(supervisor_id: u.id) %>
        <% @supervisor = @active_users.find_by(id: u.supervisor_id) %>
        <tr>
          <td>
          <% if @direct_reports.count > 0 %>
            <%= link_to FA_RIGHT, "#", {class: "center super-view-switch", id: "super-list-#{u.id}"} %>
          <% end %>
            <%= u.full_name %>
          </td>
          <td><%= u.department.name unless u.department_id.blank? %></td>
          <td><%= @supervisor.full_name unless @supervisor == nil %></td>
          <td><%= link_to FA_EDIT, edit_user_path(u.id), { class: "btn btn-primary btn-sm"} %></td>
        </tr>
        <% @direct_reports.each do |s| %>
          <tr class=<%= "super-list-#{u.id.to_s}".to_s %> >
            <td class="hidden" colspan="3">&nbsp<%= s.fname + " " + s.lname %></td>
            <td class="hidden"><%= link_to FA_EDIT, edit_user_path(s.id), { class: "btn btn-primary btn-sm"} %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
<% if @inactive_users.count > 0 %>
  <%= link_to "View inactive users", "#", {id: "user-view-switch", class: "pull-right btn btn-primary btn-xs"} %>
<% end %>
<div class="hidden" id="inactive-users">
  <table class="table">
    <thead>
      <tr>
        <th>Inactive</th>
        <th>Dept.</th>
        <th>Supervisor</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @inactive_users.each do |u| %>
        <% @inactive_super = @users.find_by(id: u.supervisor_id) %>
        <tr>
          <td><%= u.fname + " " + u.lname %></td>
          <td><%= u.department.name %></td>
          <td><%= @inactive_super.full_name %></td>
          <td><%= link_to FA_EDIT, edit_user_path(u.id), { class: "btn btn-primary btn-sm"} %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<p><%= link_to "Add new user", new_user_path, { class: "btn btn-success"} %></p>

<div class="row center">
  <% if @timesheets_needing_review %>
    <hr />
    <%= "There are " + @timesheets_needing_review.count.to_s + " " + "timesheet".pluralize(@timesheets_needing_review.count) + " for review." %>
    <%= link_to "Review as Admin", user_timesheets_path(current_user, auth: "admin"), { class: "btn btn-success"} %>
  <% end %>
</div>