<h3>Current users</h3>
<div id="active-users">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Dept</th>
        <th>Supervisor</th>
        <th>More</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @active_users.each do |u| %>
        <tr>
          <td><%= u.fname + " " + u.lname %></td>
          <td><%= u.department_id %></td>
          <td><%= @super = u.supervisor_id %></td>
          <td><%= link_to "+", "#", {id: "super-view-switch", class: "center"} %></td>
          <td><%= link_to "Edit", edit_user_path(u.id) %></td>
        </tr>
        <tr class="super-list" >
          <td></td>
          <td>Hidden?</td>
          <td></td>
          <td></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= link_to "View inactive users", "#", {id: "user-view-switch", class: "pull-right"} %>
<div class="hidden" id="inactive-users">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Inactive Users</th>
        <th>Department</th>
        <th>Supervisor</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @inactive_users.each do |u| %>
        <tr>
          <td><%= u.fname + " " + u.lname %></td>
          <td><%= u.department_id %></td>
          <td><%= u.supervisor_id %></td>
          <td><%= link_to "Edit", edit_user_path(u.id) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<p><%= link_to "Add new user", new_user_path %></p>