<h3 class="subtle"><%= @user.fname %>'s Staff</h3>

<div id="active-users" class="bufffered-row row datatable-div">
  <%= render 'user_table' %>
</div>
<br />
<% if current_user.admin %>
  <div class="row buffered-row">
    <%= link_to FA_NEW, new_user_path, { method: :get, class: "btn btn-success"} %>
  </div>  
<% end %>


<div class="row buffered-row center">
  <% if @timesheets_from_user_auth_needing_review.any? %>
    <hr />
    <%= "Your team has "+ @timesheets_from_user_auth_needing_review.count.to_s + " " + "timesheet".pluralize(@timesheets_from_user_auth_needing_review.count) + " for review." %>
    <%= link_to "Review now", user_timesheets_supervisor_path(current_user), { method: :get, class: "btn btn-success"} %>
  <% end %>
</div>