<%= form_for @request, url: user_requests_path do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <%= f.hidden_field :user_id %>
  <div class="row form-controller">
    <div class="row col-xs-6 col-sm-3 col-md-3">
      <div class="input-group date date-picker" title="Date">
        <% fake_date = :date %>
        <%= f.text_field fake_date, { class: "form-control", placeholder: "mm/dd/yyyy", id: "fake_date", name: "fake_date" } %>
        <span class="input-group-addon">
          <i class="fa fa-calendar"></i>
        </span>
      </div>
    </div>
    <%= f.hidden_field :date  %>
    <div class="row col-xs-4 col-sm-3 col-md-3">
      <div class="input-group" title="Hours" >
        <span class="input-group-addon">
          <i class="fa fa-clock-o"></i>
        </span>
        <%= f.number_field :hours, { in: 1..8, class: "form-control", placeholder: "0" } %>
      </div>
    </div>
  </div>
  <%= f.submit "Submit", { class: "btn btn-primary btn-large"} %>
<% end %>