<h4><%= @user.fname %>'s Time Off Requests</h4>
<table class="table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Hrs</th>
      <th class="small2">Reviewed?</th>
      <th class="small2">Approved?</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @requests.each do |r| %>
      <% if (r.sv_reviewed == true && r.sv_approval == false) then @notice_class = "bg-danger text-danger" elsif (r.sv_reviewed == true && r.sv_approval == true) then @notice_class = "bg-success text-success" else @notice_class = " " end %>
      <tr>
        <td class="small2 <%= @notice_class %>"><%= r.date.strftime("%m/%d/%y") %></td>
        <td class="<%= @notice_class %>"><%= r.hours %></td>
        <td class="<%= @notice_class %>"><%= if r.sv_reviewed == true then "Yes" else "No" end %></td>
        <td class="<%= @notice_class %>"><%= if r.sv_approval == true then "Yes" else "No" end %></td>
        <td class="small <%= @notice_class %>"><%= link_to "Cancel", "#", { } %></td>
      </tr>
    <% end %>
  </tbody>
</table>