<h4><%= @user.fname %>'s Time Off Requests</h4>
<table class="table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Hrs</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% @requests.each do |r| %>
      <tr>
        <td class="small2"><%= r.date.strftime("%m/%d/%y") %></td>
        <td><%= r.hours %></td>
        <td class="<%= r.notice_class(r) %>"><%= r.status(r) %></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td><%= link_to "Edit", "#", { class: "btn btn-primary" } %>&nbsp<%= link_to "Cancel", "#", { class: "btn btn-danger" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>