
<% if @dr_requests.any? %>
  <h4><%= @user.fname %>'s Staff's Time Off Requests</h4>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Date</th>
        <th>Hours</th>
        <th>Submitted</th>
        <th class="small">Approved?</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @dr_requests.each do |r| %>
        <tr>
          <td><%= r.user.fname+" "+r.user.lname %></td>
          <td><%= r.date.strftime("%m/%d/%y") %></td>
          <td><%= r.hours %></td>
          <td><%= r.updated_at.strftime("%m/%d/%y") %></td>
          <td><%= if r.sv_approval == true then "Yes" else "No" end %></td>
          <% if r.sv_approval == false %>
            <td><%= link_to "Approve", "/users/#{r.user.supervisor_id}/requests/#{r.id}/approval_flow?approve=true&reviewed=true", { class: "small"} %> / <%= link_to "Reject", "/users/#{r.user.supervisor_id}/requests/#{r.id}/approval_flow?approve=false&reviewed=true", { class: "small" } %></td>
          <% else %>
            <td><%= link_to "Deny", "/users/#{r.user.supervisor_id}/requests/#{r.id}/approval_flow?approve=false&reviewed=true", { class: "small" } %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<h4><%= @user.fname %>'s Time Off Requests</h4>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Date</th>
      <th>Hours</th>
      <th>Submitted</th>
      <th class="small">Approved?</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @requests.each do |r| %>
      <tr>
        <td><%= r.date.strftime("%m/%d/%y") %></td>
        <td><%= r.hours %></td>
        <td><%= r.updated_at.strftime("%m/%d/%y") %></td>
        <td><%= if r.sv_approval == true then "Yes" else "No" end %></td>
        <td class="small"><%= link_to "Cancel", "#", { } %></td>
      </tr>
    <% end %>
  </tbody>
</table>