<% if @dr_requests.any? && @dr_self_switch == "false" %>
  <h4><%= @user.fname %>'s Staff's Time Off Requests</h4>

  <% if @dr_review_switch == "false" %>
    <%= link_to "View Reviewed requests", "?self=false&reviewed=true", { class: "pull-right"} %>
    <%= render 'review_table', dr_to: @dr_requests_unreviewed %>
  <% end %>

  <% if @dr_review_switch == "true" %>
    <%= link_to "View Unreviewed requests", "?self=false&reviewed=false", { class: "pull-right"} %>
    <%= render 'review_table', dr_to: @dr_requests_reviewed %>
  <% end %>

  <div class='row'>
    <%= link_to "View Your requests", "?self=true", { class: "pull-right"} %>
  </div>

<% end %>

<% if @dr_self_switch == "true" %>
  <% if current_user.requests.any? %>
    <%= render 'self_table' %>
  <% else %>
    <p>No requests on file</p>
  <% end %>
<% end %>