<div id="recent-timesheets">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>User</th>
        <th>Date</th>
        <th class="hidden-xs">Hrs</th>
        <th class="hidden-xs">Submitted</th>
        <th>Approved</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @timesheet_hours.each do |th| %>
        <% t = th.timesheet %>
        <tr>
          <th><%= th.user.full_name %></th>
          <td><%= t.week_num_to_date %></td>
          <td class="hidden-xs"><%= t.timesheet_hours.where(user_id: th.user.id).pluck(:hours).inject(0) {|sum, i| sum + i} %></td>
          <td class="hidden-xs"><%= th.created_at.strftime("%m/%d/%Y") %></td>
          <td>
            <%= if th.approved then th.approved.strftime("%m/%d/%Y") else "No" end %>
          </td>
          <td><%= link_to "Go", edit_user_timesheet_path( th.user_id, t.id), class: "btn btn-success" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="row center">
    <%= will_paginate @timesheet_hours, renderer: BootstrapPagination::Rails %>
  </div>

  <div class="row">
    <hr />
  </div>

  <div class="row buffered-row">
    <div class="col-xs-4">
      <%= link_to "Create for:", "#", { class: "btn btn-primary", id: "direct_report_chooser"} %>
    </div>
    <div class="col-xs-8">
      <%= select_tag "direct_reports", options_for_select(@direct_reports_select), { include_blank: true, class: "expand form-control", id: "direct_report_select" } %>
    </div>
  </div>

  <div class="hidden pull-right" id="direct_report_error">
    <code>Please select a name.</code>
  </div>

</div>
