<%= form_for [@user, @timesheet], { class: "form-inline"} do |t_form| %>
  <%= render 'shared/error_messages', object: t_form.object %>
  <div class="row form-group">
    <div class="col-xs-6">
      <div class="input-group">
        <span class="input-group-addon"><%= fa_icon('calendar') %></span>
        <%= text_field_tag "week_num_to_date_field", @timesheet_date.strftime("%m/%d"), { class: "form-control readonly-disguiser width-limiter", readonly: true } %>
      </div>
      <%= t_form.hidden_field :week_num, { value: @timesheet.week_num || @timesheet_date.cweek } %>
    </div>
    <div class="col-xs-6">
      <div class="input-group">
        <span class="input-group-addon"><%= fa_icon('calendar-o') %></span>
        <%= t_form.number_field :year, { class: "form-control readonly-disguiser width-limiter", value: @timesheet.year || @timesheet_date.strftime('%Y'), readonly: true } %>
      </div>
    </div>
  </div>

  <div class="row">

    <fieldset class="col-xs-6 span-no-padding-both" id="hours_fieldset">
      <legend class="subtle">
        Hours: 
        <span class="small pull-right"> <%= link_to "(add timeoff)", "#", { id: 'show_timeoff_switch', class: 'btn btn-primary btn-xs'} %>
        </span>
      </legend>
      <%= render 'timesheet_visual', bar_id: "hours_progressbar", ttl_field: "hours_bar_ttl", ttl: @hours_ttl %>
      <span class="span-no-padding-both center">
        <span class="col-xs-2 expand-2-to-5" >
          &nbsp
        </span>
        <span class="col-xs-5 expand-5-to-7 subtle" >
          <%= fa_icon('clock-o 2x') %><br>
          Worked
        </span>
        <span class="col-xs-5 timeoff-hide subtle">
          <%= fa_icon('minus-square-o 2x') %><br>
          Time off
        </span>
      </span>

      <%= render 'timesheet_hours_form', t_form: t_form %>
    </fieldset>
    
    <fieldset class="col-xs-6" id="categories_fieldset">
      <legend class="subtle">Categories:</legend>
      <%= render 'timesheet_visual', bar_id: "categories_progressbar", ttl_field: "categories_bar_ttl", ttl: @category_ttl %>
      <span class="span-no-padding-both center">
        <span class="col-xs-7">
          &nbsp
        </span>
        <span class="col-xs-5 visible-xs-block subtle">
          <%= fa_icon('clock-o 2x') %><br>
          Ttl Hrs
        </span>
        <span class="col-xs-5 hidden-xs subtle">
          <%= fa_icon('clock-o 2x') %><br>
          Total Hours
        </span>
      </span>
      <%= render 'timesheet_categories_form', t_form: t_form %>
    </fieldset>
  
  </div>
  <% if current_user.can_approve_this?(@user) %>
    <div class="row buffered-row">
      <hr />
    </div>
    <div class="row well">
      <div class="col-xs-12">
        <% if current_user.supervisor_id == nil && current_user == @user %>
          <h4 class="thin subtle">Approvals:</h4>
          <i id="approval_explanation" class="pull-right wrapped-and-right small">You can approve this because <br>you don't have a supervisor</i>
        <% else %>
          <h4 class="center thin subtle">Approvals:</h4>
        <% end %>
      </div>
      <%= render 'timesheet_approval_form', t_form: t_form  %>
    </div>  
  <% end %>


  <div class="row buffered-row">
    <%= link_to FA_CANCEL, session[:return_url], class: "btn btn-danger pull-right" %>
    <button type="submit" class="btn btn-success">
      <%= FA_SUBMIT %>
    </button>
  </div>

<% end %>