<%= form_for [@user, @timesheet] do |t_form| %>
  <%= render 'shared/error_messages', object: t_form.object %>
  <%= t_form.number_field :week_num  %>
  <%= t_form.number_field :year %>
  <div class="row">

    <fieldset class="col-xs-6 span-no-padding-l" id="hours_fieldset">
      <legend>Hours:</legend>
      <% @timesheet_hours.each do |th| %>
        <%= t_form.fields_for th do |th_form| %>
          <span class="hidden">
            <%= th_form.number_field :user_id %>
          </span>
          <span class="col-xs-6"><%= th.day_name(th.weekday) %></span>
          <%= th_form.number_field :weekday, {class: "hidden"} %>
          <%= th_form.number_field :hours, {class: "col-xs-6"} %>
        <% end %>
      <% end %>
    </fieldset>
    
    <fieldset class="col-xs-6 small-when-small span-no-padding-l" id="categories_fieldset">
      <legend>Categories:</legend>
      <% @timesheet_categories.each do |tc| %>
        <%= t_form.fields_for tc do |tc_form| %>
          <span class="hidden">
            <%= tc_form.number_field :user_id %>
          </span>
          <span class="col-xs-6"><%= tc.category.name %></span>
          <%= tc_form.number_field :category_id, { class: "hidden"} %>
          <%= tc_form.number_field :hours, { class: "col-xs-6"} %>
        <% end %>
      <% end %>
    </fieldset>
  
  </div>
  <div class="row center">
    <%= t_form.submit "Submit", class: "btn btn-success" %>
  </div>

<% end %>