<%= t_form.fields_for :timesheet_hours, @timesheet_hours do |th_form| %>
  <%= th_form.hidden_field :id %>
  <%= th_form.hidden_field :timesheet_id %>
  <%= th_form.hidden_field :day_num, { value: th_form.index+1 } %>
  <span class="row span-no-padding-both form-group no-margin">
    <span class="col-xs-2 expand-2-to-5">
      <span class="visible-xs-only">
        <span class="pull-right plus-r-padding timeoff-show" id="day_name_full_xs">
          <%= Weekday.where(day_num: th_form.index+1).first.name %>
        </span>
        <span class="pull-right plus-r-padding timeoff-hide" id="day_name_abbr">
          <%= Weekday.where(day_num: th_form.index+1).first.abbr %>
        </span>
      </span>
      <span class="pull-right plus-r-padding hidden-xs" id="day_name_full_lg">
        <%= Weekday.where(day_num: th_form.index+1).first.name %>
      </span>
    </span>

    <span class="col-xs-5 expand-5-to-7">
      <%= th_form.number_field :hours, { class: "form-control width-limiter hours-field progressbar-hours", step: 'any', min: 0 } %>
    </span>
    <span class="col-xs-5 timeoff-hide">
      <%= th_form.number_field :timeoff_hours, { class: "form-control width-limiter timeoff-hours-field progressbar-hours", step: 'any', min: 0 } %>
    </span>
  </span>
<% end %>