<thead class="subtle">
  <tr>
    <td>
      <%= icon('user fa-2x') %>
      <p>User</p>
    </td>
    <td>
      <%= icon('calendar fa-2x') %>
      <p>Date</p>
    </td>
    <td class="hidden-xs">
      <%= icon('clock-o fa-2x') %>
      <p>Hours</p>
    </td>
    <td>
      <%= icon('minus-square-o fa-2x') %>
      <p class='hidden-xs'>Time off</p>
      <p class='visible-xs-block'>Off</p>
    </td>
    <td class="hidden-xs">
      <%= icon('toggle-up fa-2x') %>
      <p>Submitted</p>
    </td>
    <td>
      <%= icon('check-square-o fa-2x') %>
      <p>Approved</p>
    </td>
    <th></th>
  </tr>
</thead>
<tbody>
  <% @timesheets.each do |t| %>
    <tr>
      <th><%= t.user.full_name %></th>
      <td><%= t.start_date.strftime("%m/%d/%Y") %></td>
      <td class="hidden-xs"><%= t.timesheet_hours.sum(:hours).to_f %></td>

      <td><%= t.timesheet_hours.sum(:timeoff_hours).to_f %></td>
      <td class="hidden-xs"><%= t.created_at.strftime("%m/%d/%Y") %></td>
      <td><%= t.status %></td>
      <td><%= link_to FA_GO, edit_user_timesheet_path( t.user.id, t.id ), { method: :get, class: "btn btn-success btn-sm" } %></td>
    </tr>
  <% end %>
</tbody>