<%= form_for [@user, @timesheet], { class: "form-inline"} do |t_form| %>
  <%= render 'shared/error_messages', object: t_form.object %>
  <div class="row form-group">
    <div class="col-xs-6">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
        <%= text_field_tag "week_num_to_date_field", @timesheet_date.strftime("%m/%d"), { class: "form-control readonly-disguiser width-limiter", readonly: true } %>
      </div>
      <%= t_form.hidden_field :week_num, { value: @timesheet.week_num || @timesheet_date.cweek } %>
    </div>
    <div class="col-xs-6">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-calendar-o"></i></span>
        <%= t_form.number_field :year, { class: "form-control readonly-disguiser width-limiter", value: @timesheet.year || @timesheet_date.strftime('%Y'), readonly: true } %>
      </div>
    </div>
  </div>

  <div class="row">

    <fieldset class="col-xs-6 span-no-padding-both" id="hours_fieldset">
      <legend>
        Hours: 
        <span class="small pull-right"> <%= link_to "(add timeoff)", "#", { id: 'show_timeoff_switch'} %>
        </span>
      </legend>
      <span class="span-no-padding-both center">
        <span class="col-xs-2 expand-2-to-5" >
          &nbsp
        </span>
        <span class="leader col-xs-5 expand-5-to-7" >
          Worked
        </span>
        <span class="leader col-xs-5 timeoff-hider">
          Time off
        </span>
      </span>

      <%= render 'timesheet_hours_form', t_form: t_form %>
    </fieldset>
    
    <fieldset class="col-xs-6" id="categories_fieldset">
      <legend>Categories:</legend>
      <span class="span-no-padding-both center">
        <span class="col-xs-7">
          &nbsp
        </span>
        <span class="leader col-xs-5 visible-xs-block">
          Ttl Hrs
        </span>
        <span class="leader col-xs-5 hidden-xs">
          Total Hours
        </span>
      </span>
      <%= render 'timesheet_categories_form', t_form: t_form %>
    </fieldset>
  
  </div>
  <% if params[:auth] = "over" && ( current_user.has_authority_over.any? || current_user.admin)  %>
    <div class="row buffered-row center">
      <p>This is where the approval goes!</p>
    </div>    
  <% end %>


  <div class="row buffered-row">
    <% if @user != current_user %>
      <%= link_to "Cancel", user_timesheets_path(current_user, auth: "over"), class: "btn btn-danger" %>
    <% else %>
      <%= link_to "Cancel", user_timesheets_path(@user), class: "btn btn-danger" %>
    <% end %>
    <%= t_form.submit "Submit", class: "btn btn-success pull-right" %>
  </div>

<% end %>