<div class="col-xs-12">
  <input id="<%= ttl_field %>" value="<%= ttl %>" class="">
  <div class="progress" id="<%= bar_id %>">
    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="<%= ttl %>" aria-valuemin="0" aria-valuemax="<%= @standard_hours %>" style="width: 2%;">
    </div>
  </div>
</div>