<h3 class="center subtle"><%= @page_title %></h3>
<div id="recent-timesheets">
  <table class="table table-striped table-center" id="timesheet-single-table">
    <thead class="subtle">
      <tr>
        <td>
          <%= fa_icon('calendar 2x') %>
          <p>Date</p>
        </td>
        <td>
          <%= fa_icon('clock-o 2x') %>
          <p>Hours</p>
        </td>
        <td>
          <%= fa_icon('minus-square-o 2x') %>
          <p class='hidden-xs'>Time off</p>
          <p class='visible-xs-block'>Off</p>
        </td>
        <td class="hidden-xs">
          <%= fa_icon('toggle-up 2x') %>
          <p>Submitted</p>
        </td>
        <td>
          <%= fa_icon('check-square-o 2x') %>
          <p>Approved</p>
        </td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      <% @timesheet_hours.each do |th| %>
        <% t = th.timesheet %>
        <tr>
          <td><%= t.week_num_to_date %></td>
          <td><%= t.timesheet_hours.where(user_id: th.user.id).sum(:hours) %></td>
          <td><%= t.timesheet_hours.where(user_id: th.user.id).sum(:timeoff_hours) %></td>
          <td class="hidden-xs"><%= th.created_at.strftime("%m/%d/%Y") %></td>
          <td><%= th.status %></td>
          <td><%= link_to FA_EDIT, edit_user_timesheet_path( @user.id, t.id), { method: :get, class: "btn btn-primary btn-sm" } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="buffered-row">
    <%= link_to FA_NEW, new_user_timesheet_path(@user.id), { method: :get, class: "btn btn-success"} %>
  </div>

</div>