<!DOCTYPE html>
<html>
<head>
  <title>WMRECC Timesheet | <%= @title %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="container-fluid" id="top-level-container">
    <div class="row well" id="top-level-well">
      <i class="col-xs-4 col-md-2"><%= image_tag('/assets/WMRECC_Logo.png', { id: "logo"}) %></i>
      <h2 class="col-xs-8 col-md10">WMRECC Timesheet</h2>
    </div>
    <%= yield %>
  <footer>
    <hr />
    <p>
      <% if @title != "Home"  %>
        <%= link_to 'Home', root_path %> |
      <% end %>
      <%= link_to 'Help', help_path %>
      | (Logout link)
    </p>
  </footer>
  </div>
</body>
</html>
