<!DOCTYPE html>
<html>
<head>
  <title>TimeShift | <%= @title %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= render 'shared/favicon' %>
</head>
<body>
  <div class="container-fluid" id="top-level-container" name="data-no-turbolink">
    <div class="page-header lt-blue-bg" id="app-header">
      <div class="row">
        <div class="col-xs-2">
          <a href="/" id="logo-home-link">
            <%= image_tag('WMRECC_logo.png', { id: "logo"}) %>
          </a>
        </div>
        <div class="col-xs-10">
          <h1 class="jumbo-font white-text">TimeShift</h1>
          <h3>Space-age time tracking for The Refugee Center.</h3>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-3 col-xs-offset-9 text-right">
          <% if params[:action] != "home" %>
            <%= link_to FA_HOME, root_path, class: "btn btn-success" %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row flasher">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %> center"><%= value %></div>
      <% end %>
    </div>

    <%= yield %>
    
    <footer>
      <hr />
        <%= debug(params) if Rails.env.development? %>
      <hr />
      <span class="small">&copy 2014 <%= link_to 'Chiperific', "http://www.chiperific.com", target: 'blank' %> under the MIT License</span>
    </footer>
  </div>
</body>
</html>
