<!DOCTYPE html>
<html>
<head>
  <title>TimeShift | <%= @title %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  <!-- dataTables Buttons CDNs -->
  <%= stylesheet_link_tag "//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.2/css/bootstrap.css", media: "all" %>
  <%= stylesheet_link_tag "https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap4.min.css", media: "all" %>
  <%= stylesheet_link_tag "https://cdn.datatables.net/buttons/1.2.2/css/buttons.bootstrap4.min.css", media: "all" %>

  <%= javascript_include_tag "https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js" %>
  <%= javascript_include_tag "https://cdn.datatables.net/buttons/1.2.2/js/buttons.bootstrap4.min.js" %>
  <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js" %>
  <%= javascript_include_tag "//cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js" %>
  <%= javascript_include_tag "//cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js" %>

  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= render 'shared/favicon' %>
</head>
<body>
  <div class="container-fluid" id="top-level-container" name="data-no-turbolink">
    <div class="page-header lt-blue-bg" id="app-header">

      <div class="row" id="name_banner">
        <div class="col-xs-2">
          <a href="/" id="logo-home-link">
            <%= image_tag('WMRECC_Logo.png', { id: "logo"}) %>
          </a>
        </div>
        <div class="col-xs-10">
          <h1 class="jumbo-font white-text">TimeShift</h1>
          <h3 class="no-margin-top mini-jumbo-font">Space-age time tracking for The Refugee Center.</h3>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-3 col-xs-offset-9 text-right" id="home_btn_div">
          <% if params[:action] != "home" %>
            <%= link_to FA_HOME, root_path, class: "btn btn-success btn-sm" %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="row flasher">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %> center"><%= value %></div>
      <% end %>
    </div>

    <div class="page-body">
      <%= yield %>
    </div>


    <footer>
      <hr />
      <%= debug(params) if Rails.env.development? %>
      <span class="small">&copy 2015 <%= link_to 'Chiperific', "http://www.chiperific.com", target: 'blank' %> under the MIT License</span>
    </footer>
  </div>
</body>
</html>
