<!DOCTYPE html>
<html>
<head>
  <title>WMRECC Timesheet | <%= @title %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="container-fluid" id="top-level-container" name="data-no-turbolink">
    <div class="row page-header" id="app-header">
      <a href="/" id="logo-home-link">
        <i class="col-xs-4 col-md-2"><%= image_tag('/assets/WMRECC_Logo.png', { id: "logo"}) %></i>
        <h2 class="col-xs-8 col-md-8">WMRECC Timesheet</h2>
      </a>
    </div>
    <%= yield %>
  <footer>
  <%= debug(params) if Rails.env.development? %>
    <hr />
    <p>
      <% if @title != "Home"  %>
        <%= link_to 'Home', root_path %> |
      <% else %>
        <span class="pull-right small">Created by <%= link_to 'Chiperific', "http://www.chiperific.com", target: 'blank' %></span>
      <% end %>
      <%= link_to 'Help', help_path %>
      | (Logout)
    </p>

  </footer>
  </div>
</body>
</html>
