<!DOCTYPE html>
<html>
<head>
  <title>Timekeeper | <%= @title %></title>
  <script src="/assets/top_level.js" type='javascript'></script>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= render 'shared/favicon' %>
</head>
<body>
  <div class="container-fluid" id="top-level-container" name="data-no-turbolink">
    <div class="row page-header" id="app-header">
      <a href="/" id="logo-home-link">
        <i class="col-xs-4 col-md-2"><%= image_tag('WMRECC_Logo.png', { id: "logo"}) %></i>
        <h2 class="col-xs-8 col-md-8">The Refugee Center Timekeeper</h2>
      </a>
    </div>
    <div class="row flasher">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %> center"><%= value %></div>
      <% end %>
    </div>

    <%= yield %>
    
    <footer>
      <hr />
        <%= debug(params) if Rails.env.development? %>
      <hr />
      <span class="small">&copy 2014 The Refugee Center</span>
      <span class="pull-right small">Created by <%= link_to 'Chiperific', "http://www.chiperific.com", target: 'blank' %></span>
    </footer>
  </div>
</body>
</html>
